/***** Custom CSS *****/

/*body:before {background: none !important;}*/

#socialbar {
    height: 60px;
}
ul.social {
    float: right;
    list-style: none outside none;
    margin: 20px 0px 0;
}
ul.social li {
    float: left;
    /*margin-left: 10px;*/
}

/*************Header CSS***********/
body{background-color:#000000 !important;}
#page{
    background-color: #FFFFFF;
}
#header{
    background-color:#006092;
}
#header img{
    float: left;
    margin-right: 10px;
    padding-left: 10px;
}
#header a img{
    padding-left:0px;
}
#site-name a{
    color:#F8FAF8;
    text-decoration:none;
}
#name-and-slogan{
    font-family: fantasy;
    font-size: 21px;
    padding-top: 10px;
    float: left;
}

/**************Navigation CSS**************/
#navigation{
    background-color: #FEFFFE;
    margin-top: 5px;
    padding-left: 20px;
}

#navigation li {
    border-right: 1px solid #D9D9D9;
    font-family: 'Trebuchet MS';
    font-size: 13px;
    padding: 4px 8px 4px 4px;
    font-weight: bold;
}

#primary .last{
    border-right:none !important;
}

#navigation li .last{border:hidden !important;}
#navigation li a{
    color: #3784C0;
    text-decoration: none;
}

#banner_img{
    height: 200px;
    margin-top: 5px;
}
/*****************Main Body CSS*********/
#main{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    margin: 10px 5px 20px;
    padding: 10px 10px 10px 10px;
}
#block-system-main .field-name-body p a{
    background-color: #7CDFFF;
    border: 1px solid #48B1C4;
    border-radius: 7px 7px 7px 7px;
    color: white;
    float: right;
    font-weight: bold;
    letter-spacing: 0;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
}
#block-system-main .field-name-body p{
    font-family: arial;
}
#content-area .region-content{
    border-bottom: thin dotted;
    padding-bottom: 20px;
}
#content-area .content h2 a {
  color: #285FA2 !important;
  font-size: 18px;
  text-transform: capitalize;
}
#main a:link, #main a:visited {
    color: #285FA2 !important;
    text-decoration: none;
}
#content-header h1{
    font-size:18px;
    padding: 0;
    margin:0;
    text-transform: capitalize;
    color:#285FA2;
}
#region-content .field-name-body .field-item{
    color: #9A9A9A;
    font-family: Arial;
    font-size: 14px;
}
#region-content .field-name-body .field-item a{
    float:right;
}

.breadcrumb{display:none;}

/***********Second Sidebar CSS**********/
#sidebar-second{
    background:none !important;
}
#sidebar-second .region-sidebar-second{
   background-color: #6DD8FA;
    border: 1px solid #48B1C4;
    border-radius: 8px 8px 8px 8px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-top: 18px;
}
#sidebar-second .region-sidebar-second .block-title img{display:none;}

/************Content Bottom CSS************/
.column-block-wrapper{
    float:left;
    margin-bottom: 20px;
}
.column-block-wrapper .block-title{
    float: left;
    margin: 0;
    font-size: 18px;
    color:#1F5E8A;
}
.column-block-wrapper .block-title img{
    vertical-align:middle;
    margin-left:10px;
}
.column-block-wrapper .content div div{
    float:left;
    font-family: Verdana;
    text-align:justify;
}
.column-block-wrapper .content div div img{
    float:left;
    border:1px solid #BDBDBD;
    margin-right: 5px;
    vertical-align:middle;
}
.column-block-wrapper .content a{
    color: #777777;
    /*float: right;*/
    font-weight: bold;
    text-decoration: underline;
    clear:both;
}
.column-block-wrapper .block{
    border: 1px solid #BDBDBD;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}
.column-block-wrapper .block-inner{
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

/**************Footer CSS****************/
#footer{
    background-color: #006092;
    color: white;
    padding: 15px;
    text-align: center;
}